#addButtons {
    padding-bottom: 25px;
    text-align: center;
}

h1{
    text-align: center;
}


@media (min-width: 200px) and (max-width: 1025px){
    #main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 250px;
        grid-template-columns: 250px;
        gap: 15px;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (min-width: 1025px){
    #main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 250px 250px 250px;
        grid-template-columns: 250px 250px 250px;
        gap: 15px;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

#main div {
    border: 1px solid;
    border-radius: 5%;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 79px 0px rgb(0 0 0 / 75%);
    box-shadow: 0px 0px 79px 0px rgb(0 0 0 / 75%);
}

img {
    max-width: -webkit-fill-available;
}

label img{
    height: 120px;
}

button {
    font: 1em 'Open Sans', sans-serif;
    cursor: pointer;
    padding: 12px;
    -webkit-transition-duration: 1s;
    transition-duration: 0.3s;
    background-color: lightgrey;
    border: none;
}

button:hover{
    background-color: darkgray;
    color: white;
  }
  

#globalForm{
    display: none;
}

body, button {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#formGrid div {
    border: 1px solid;
    border-radius: 5%;
    padding: 20px;
    height: 250px;
}


@media (min-width: 200px) and (max-width: 768px){
    #formGrid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 180px;
        grid-template-columns: 180px;
        gap: 5px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
}

@media (min-width: 768px){
    #formGrid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 180px 180px 180px;
        grid-template-columns: 180px 180px 180px;
        gap: 5px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
}

@media (min-width: 200px) and (max-width: 768px){
    .modal-content #popupElements {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 150px;
        grid-template-columns: 150px;
        gap: 10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
}

@media (min-width: 768px){
    .modal-content #popupElements {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 150px 150px 150px;
        grid-template-columns: 150px 150px 150px;
        gap: 10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
}

#popupModal{
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1%;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.modal-content #popupElements div {
    border: 1px solid;
    border-radius: 5%;
    padding: 20px;
    height: 250px;
}

#alert{
    color: red;
    display: none;
}


